include /resources/angle/pug/mixins/panel.pug

+panel("Account Information")
  table.table
    thead
      tr
    tbody
      tr
        td(translate="user.account.info.EMAIL")
        td(ng-bind="info.user.email")
      tr
        td(translate="user.account.info.SIGNUP")
        td(ng-bind="info.user.created_at")
