doctype html
include /resources/pug/mixins/form

+field(
  "{{ 'user.client.form.email.LABEL' | translate }}",
  "email"
)(
  ng-model="clientForm.input.email"
)

+double-field(
  "{{ 'user.client.form.name.LABEL' | translate }}",
  "name", {
    "ng-model": "clientForm.input.first"
  }, {
    "ng-model": "clientForm.input.last"
  }
)
