extends /resources/angle/pug/list-page
include /resources/angle/pug/mixins/list

block list
  .ng-slideInOut(ng-show="vm.list.loader.active")
    .text-center.panel-body
      .ball-clip-rotate.inline-block.enlarged
        div
  .alert.alert-info(
    ng-if="!vm.list.items.length && !vm.list.loader.active"
    translate="user.client.list.EMPTY"
  )
  .ng-fadeInUp(ng-show="vm.list.items.length")
    list.panel.panel-default(
      list="vm.list"
      hide-loader="true"
    )
      list-header(text="user.client.list.TITLE")
      client-table
      list-footer

block bottom-left
  +create-form("{{ 'user.client.form.title.ADD' | translate }}")
    client-form(form="vm.create")
