doctype html
include /resources/angle/pug/mixins/form

+label("{{ 'server.modal.client.client.LABEL' | translate }}")
  +ui-select("superClientForm.client")
    ui-select-match(placeholder="{{ 'server.modal.client.client.PLACEHOLDER' | translate }}")
      span(ng-bind="$select.selected.name")

    ui-select-choices(
      repeat="client in superClientForm.client.items track by client.id"
      refresh="superClientForm.client.load($select.search)"
      refresh-delay="400"
    )
      span(ng-bind-html="client.name | highlight: $select.search")