doctype html
include /resources/angle/pug/mixins/form

+field(
  "{{ 'client.super.form.email.LABEL' | translate }}",
  "email"
)(
  ng-model="superClientForm.input.email"
  placeholder="{{ 'client.super.form.email.PLACEHOLDER' | translate }}"
  
)

+double-field(
  "{{ 'client.super.form.name.LABEL' | translate }}",
  "name", {
    "ng-model": "superClientForm.input.first",
    "placeholder": "{{ 'client.super.form.name.first.PLACEHOLDER' | translate }}"
  }, {
    "ng-model": "superClientForm.input.last",
    "placeholder": "{{ 'client.super.form.name.last.PLACEHOLDER' | translate }}"
  }
)

div(ng-if="!superClientForm.form.input.id")
  +label("")
    +checkbox("client.form.options.SEND-WELCOME-EMAIL")(
      ng-model="superClientForm.input.sendEmail.welcome"
    )
    +checkbox("{{ 'client.super.form.acknowledged.LABEL' | translate }}")(
      ng-model="superClientForm.input.acknowledged"
    )
