include /resources/angle/pug/mixins/panel

+panel("{{ 'server.hardware.TITLE' | translate }}")
  table.table
    thead
      tr
        th(translate="server.hardware.ITEM")
        th(translate="server.hardware.VALUE")

    tbody
      tr(ng-repeat="item in hardware.items")
        td(translate="{{item.trans}}")
        td(ng-bind="item.name")
