extends /resources/angle/pug/table-checkable

block headings
  th.sortable(ng-if="table.showName")
    span(translate="client.super.list.heading.NAME")
    sort(col="last")
  th
    span(translate="client.super.list.heading.ACTIONS")

block columns
  td(
    ng-if="table.showName"
  )
    span(
      ng-bind="row.grantee.name"
    )
  td
    .btn-group.btn-group-xs
      a.btn.btn-default(
      	ng-click="table.list.list.confirm.delete([row])"
        translate="app.action.DELETE"
      )